body{
  margin: 0;
  text-align: center;
  font-family:'merriweather', cursive;
}

.top-container{
/*
  border: 10px solid;
  padding-left: 20px;
  padding-top: 20px;
  width: 200px;
  height: 200px;
  */
  position: relative;
  padding-top: 100px;
    background-color: #E4F9F5;
}

.first-cloud{
  position: absolute;
  right: 350px;
  top: 30px;
}

h1{
  margin: 50px auto 0 auto;
  font-family:'Sacramento',cursive;
  font-size: 562.5%;/* 90px/16=562.5*/
  color: #66BFBF;
  line-height: 2;
}

.first-h2{
  font-family: 'montserrat'cursive;
  font-size: 1.5rem;
  color:#66BFBF;
  font-weight: normal;
}

p{
  font-family: 'montserrat'cursive;
  font-size: 1.5rem;
}

.second-cloud{
  position: absolute;
  left: 300px;
}

.middle-container{
}

hr{
  color: #EAF6F6;
  border-style: dashed;
  width: 10%;
  border-width: thick;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.profile-img{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin: 50px auto 20px auto;
}

.profile-desciption{
  color: #40514E;
  text-align: center;
  clear: left;
  padding-bottom: 50px;
}

.skills-h2{
  padding-top: 40px;
  padding-bottom: 20px;
}

.skill-img{
  height: 200px;
  width: 200px;
  width: 25%;
  float: left;
  margin-right: 30px;
  border-radius: 50%;
}

.football-img{
  height: 200px;
  width: 200px;
  width: 25%;
  float: right;
  margin-left: 30px;
  border-radius: 50%;
}

.skill-p{
  line-height: 2;
}

h2,h3,a{
  color: #66BFBF;
}

.contactme-h2{
  padding-top: 40px;
  padding-bottom: 10px;
}

.contactme-p{
  padding-bottom: 20px;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-bottom: 20px;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.bottom-container{
  background-color: #66BFBF;
  margin-top: 50px;
}

.footer-link{
  color: #11999E;
  padding: 30px;
  line-height: 4;
}

.footer-link{
  text-decoration: none;
}

.footer-p{
  color: #EAF6F6;
  padding-bottom: 20px;
}

/*.middle-container{
  background-color: red;
  height: 200px;
  width: 200px;
  border: 20px solid;
  margin-left: 240px;
  width: 200px;
  height: 200px;
}

.bottom-container{
  background-color: blue;
  height: 200px;
  width: 200px;
  border: 10px solid;
  margin-left: 480px;
  width: 200px;
  height: 200px;
}*/
